@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  height: 12vh;
  background-color: #000000e3;
  color: antiquewhite;
}
.navbar-left h2::first-letter {
  color: red;
  font-size: 3rem;
}

.navbar-left h2 {
  font-size: 2rem;
  font-weight: 100;
  font-family: "poppins";
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-family: "poppins";
}

.menu a {
  color: antiquewhite;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 1s ease-in-out;
  margin: 0 1rem;
  text-decoration: none;
}
.menu li {
  margin: 2rem 0;
  height: 12px;
}

/* ScrollToTopButton.css */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

.scroll-to-top.show {
  display: block;
}

.scroll-to-top button {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top button:hover {
  background-color: #777;
}

.header-menu {
  display: none;
}

@media (max-width: 1080px) {
  .navbar-right {
    display: none;
    /* background-color: red; */
  }

  .header-menu {
    padding-right: 2rem;
    display: block;
  }
  .navbar-logo-left {
    background-color: red;
    padding-left: 2rem;
  }
  .nav-bar {
    /* justify-content: space-between; */
    padding: 1rem 3rem;
  }

  .button {
    background-color: red;
  }
  .menu a {
    font-size: 16px;
  }
  .menu li {
    display: block;
    /* line-height: 5px; */
  }

  .menu {
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: #2a2a2a;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 0 4em;
  }

  .nav-bar {
    width: 1080px;
  }

  .container {
    width: 1080px;
  }
}
@media (max-width: 786px) {
  .navbar {
    width: 786px;
  }
}
@media (max-width: 500px) {
  .navbar {
    width: 500px;
  }
}
@media (max-width: 400px) {
  .navbar {
    width: 400px;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: #2a2a2a;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 0 4em;
  }
}
