.footer-container-section{
    width: 1345px;
    background-color: lightslategray;
    padding: 0.4rem;
}

.footer-container-section p{
    text-align: center;
    font-family: "poppins";
    font-weight: 400;
    color: #f1f1f1;
}

@media (max-width:500px) {
    .footer-container-section{
    width: 500px;
    }
}
@media (max-width:400px) {
    .footer-container-section{
    width: 400px;
    }
}