.skills-page-container {
  padding: 2rem 0;
  background-color: #222222;
}

.skills-page-container h2 {
  font-size: 2.6rem;
  text-align: center;
  font-family: "raleway";
  color: #df725e;
  padding: 2rem;
}

.progress-bar {
  padding: 1rem;
}
.skill-progress-bar {
  width: 1110px;
  margin: auto;
}

.skills-progress-html {
  padding: 0 8rem;
  color: #fff;
}
.skills-progress-css {
  padding: 0 8rem;
  color: #fff;
}

.progress-css,
.progress-react {
  padding: 2rem 0;
}

.tooltip-position {
  padding: 0 4rem;
  background-color: red;
}

.skill-percent,
.skills-progress {
  color: #fff;
  display: flex;
}

.progress-bar-title {
  padding: 0 8rem;
}




.progress-bar{
  width: 800px;
  margin: 2rem auto;
}

.span-bar{
  color: #fff;
  padding: 1rem;
}

.skills-bar{
  padding: 1rem;
}

@media (max-width:786px) {
  .skills-page-container {
    width: 786px;
  }
  .skill-progress-bar {
    width: 786px;
    margin: auto;
  }

  .progress-bar{
    width: 600px;
    margin: 2rem auto;
  }
}

@media (max-width:400px) {
  .skills-page-container {
    width: 400px;
  }
  .skill-progress-bar {
    width: 786px;
    margin: auto;
  }

  .progress-bar{
    width: 360px;
    margin: 2rem auto;
  }
}